# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=tu_password
DB_DATABASE=cine_db

# JWT
JWT_SECRET=tu_jwt_secret_muy_seguro_aqui
JWT_EXPIRATION=7d

# Aplicación
APP_PORT=3000
APP_URL=http://localhost:3000

# Frontend
FRONTEND_URL=http://localhost:5173
